<% include ./partials/header %>
  <main>
    <br>
    <div class="container">
      <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
          <ul class="event-list">
            <a href="/dashboard/songs">Add Song</a>
            <br>
            <br>

            <li>
              <div class="info">
                <h2 class="title">
                  1. November Rain
                </h2>
                <p class="desc">
                  Gun N' Roses 1991, Hard Rock
                </p>
                
                <br>
                <p class="desc">
                  <a href="#"> Delete</a>
                </p>
                <ul>
                  <li style="width:33%;">
                    <audio controls>
                      <source src="" type="audio/mpeg">
                    </audio>
                  </li>

                  <li style="width:34%;"></li>
                  <li style="width:33%;"></li>
                </ul>
              </div>

              <div class="social">
                <ul>
                  <li class="facebook" style="width:33%;">
                    <a href="#facebook">
                      <span class="fa fa-facebook"></span>
                    </a>
                  </li>
                  <li class="twitter" style="width:34%;">
                    <a href="#twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                  <li class="instagram" style="width:33%;">
                    <a href="#instagram">
                      <span class="fa fa-instagram"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>

  </main>
  <% include ./partials/footer %>